* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 2px 10px 5px lightgray;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo img {
    width: 200px;
    padding-left: 20px;
}

ul li {
    display: inline-block;
    padding: 15px;
    padding-top: 30px;
}

.nav-list {
    padding-top: 25px;
    cursor: pointer;
}

.nav-list li:nth-child(4) {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

.nav-list li:nth-child(5) {
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.nav-list li:nth-child(5):hover {
    background-color: #fff;
    color: #000;
}

.nav-list li:nth-child(4):hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.nav-list li:nth-child(4):active {
    transform: scale(1.2);
}

.nav-list li i {
    color: gray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main, .sidebar {
    /* border: 3px solid black; */
    padding: 15px;
    background-color: #fff;
}

.main {
    width: 60%;
    height: 200vh;
}

.sidebar {
    width: 35%;
    height: 70vh;
    position: sticky;
    top: 0;
}

/* .container {
    display: flex;
    flex-direction: column;
} */

.first-line {
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    border-bottom: 1px solid lightgray;
}

.first-line h3 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.first-line h3:first-child {
    color: lightgray;
}

.div-image img {
    width: 190px;
}

.blog-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.inline-flexblog {
    display: flex;
    justify-content: space-between;
}

.blog-wrapper {
    margin-top: 20px;
    margin-bottom: 60px;
}

.first-blog-section {
    line-height: 35px;;
}

.first-blog-section p img {
    width: 25px;
    border-radius: 20px;
}

.sidebar div {
    padding-top: 50px;
    text-align: center;
}

.paragraph-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paragraph-flex a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: gray;
    border: 1px solid black;
    border-radius: 10px;
}
