* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 2px 10px 5px lightgray;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    background-color: orange;
}

.bgColor {
    background-color: white;
}

.logo img {
    width: 200px;
    padding-left: 20px;
}

.elements {
    padding-top: 100px;
}

.elements div:nth-child(1) {
    margin-bottom: 20px;
    font-size: 50px;
    padding-left: 20vh;
}

.elements div:nth-child(2) {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 20vh;
}

.elements div:nth-child(3) {
    margin-top: 40px;
    padding-left: 20vh;
}

button {
    padding: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
}

ul li {
    display: inline-block;
    padding: 15px;
    padding-top: 30px;
}

.nav-list {
    padding-top: 25px;
    cursor: pointer;
}

.nav-list li:nth-child(4) {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

.nav-list li:nth-child(5) {
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.nav-list li:nth-child(5):hover {
    background-color: #fff;
    color: #000;
}

.nav-list li:nth-child(4):hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.nav-list li:nth-child(4):active {
    transform: scale(1.2);
}

.nav-list li i {
    color: gray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main, .sidebar {
    /* border: 3px solid black; */
    padding: 15px;
    background-color: #fff;
}

.main {
    width: 60%;
    /* height: 250vh; */
}

.sidebar {
    width: 35%;
    height: 100vh;
    position: sticky;
    top: 0;
}

/* .container {
    display: flex;
    flex-direction: column;
} */

.first-line {
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    border-bottom: 1px solid lightgray;
}

.first-line h3 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.first-line h3:first-child {
    color: lightgray;
}

.div-image img {
    width: 190px;
    cursor: pointer;
}

.blog-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.inline-flexblog {
    display: flex;
    justify-content: space-between;
}

.third-paragraph {
    background-color: rgb(227, 226, 226);
    border-radius: 13px;
    padding-left: 5px;
    padding-right: 5px;  
}

.inline-flexblog p {
    font-size: 11px;
    cursor: pointer;

}

.blog-wrapper {
    margin-top: 20px;
    margin-bottom: 60px;
}

.first-blog-section {
    line-height: 35px;
}

.first-blog-section p img {
    width: 25px;
    border-radius: 20px;
}

.text-para {
    font-size: 13px;
    font-weight: 600;
}

.sidebar div {
    padding-top: 50px;
    text-align: center;
}

.paragraph-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.paragraph-flex a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: gray;
    border: 1px solid black;
    border-radius: 10px;
}

.aside-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.aside-flex a {
    padding: 10px;
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.aside-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.par-icons {
    display: flex;
    justify-content: center;
}

.par-icons a i {
    padding: 10px;
    text-decoration: none;
}

.fa-medium {
    font-size: 25px;
    color: black;
}

.fa-twitter {
    font-size: 25px;
    color: lightskyblue;
}

.icon-flex-aside {
    display: flex;
    justify-content: center;
}

.button-twitter {
    display: flex;
    justify-content: center;
}

.para-aside > p {
    font-weight: 500;
}

.fa-medium, .fa-plus, .fa-twitter {
    font-size: 20px;
    padding: 5px;
}

nav {
    background-color: orange;
    height: 60vh;
    width: 100%;
}






